*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

header{
    width: 100%;
    height: 50px;
    background-color: #d55;
}
main{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-cpu{
    height: 200px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.section-cpu .card-cpu{
    display: grid;
    grid-template-areas: 
    "a a a a"
    "b b c c"
    "b b c c";
    width: 300px; 
    height: 150px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-top: 50px;
    background-color: #66d;
}
.section-cpu .card-cpu h3{
    grid-area: a;
}
.section-cpu .CPU-counter{
    grid-area: b;
}
.section-cpu .CPU-counter p{
    font-size: 32px;
}
.section-cpu .USER-counter{
    grid-area: c;
}
.section-cpu .USER-counter p{
    font-size: 32px;
}
.section-select-card{
    margin-top: 50px;
}
.section-select-card div{
    background-color: #55d;
    display: inline-block;
    width: 125px;
    height: 150px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px #ddd;
    border-radius: 10px;
}
.card-piedra{
    background-image: url('./image/piedra.jpg');
}
.card-papel{
    background-image: url('./image/papel.jpg');
}
.card-tijera{
    background-image: url('./image/tijera.jpg');
}
.piedra{
    background-image: url('./image/piedra.jpg');
}
.papel{
    background-image: url('./image/papel.jpg');
}
.tijera{
    background-image: url('./image/tijera.jpg');
}
.reload{
    width: 100px;
    height: 55px;
    margin: 10px auto;
    background-color: #d55;
    border: 2px solid #555;
    border-radius: 8px;
}